__pycache__/    # Python bytecode (compiled Python code)
# all inside __pycache__ folder
*.pyc

# for vscode files
.vscode/
# for pycharm files
.idea/
# for jupyter notebook files
.ipynb_checkpoints/
# for python virtual environment
venv/
# for python package files
dist/
build/
*.egg-info/
